*.tsv
*.gz
.metals/
.vscode
*.minimal
.DS_Store
.ammonite/
.bloop
.idea
*.metals/
.bsp
/project/project/
*target/
.env

# Local bind-mount persistence (created by docker-compose.yaml)
.postgres-data/
.imdb-cache/
